/* *RESET */
* {
	box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}
/* _________________________________________________________________ */



body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background:#D8D8D6;
    color:#161616;
    font-size: 18px;
    line-height: 29px;
}

/** HEADER */

.header {
    padding:25px 0;
    background: #81A36B;
}
.container {
    max-width: 1110px;
    margin: 0 auto;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 30px;
}
.nav a {
    text-decoration: none;
    color: #161616;
}

/** MAIN  */


.order-desc {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    width: 540px;
}

.order-title{
    font-family: 'Architects Daughter',cursive;
    font-size: 62px;
    margin-bottom: 41px;
}
.order-text{
    margin-bottom: 20px;
}
.buttons{
    display: flex;
    gap: 20px;
}

.order-desc  a{
    text-decoration: none;
    color:inherit;
    padding: 20px 34px;
    border-radius: 6px;
    border:1px solid #81A36B;
}
.order-button {
    background-color: #81A36B;
}

/** ABOUT */

.about-container{
    padding: 120px 0;
}
.about-box {
    width: 540px;
    margin: 0 auto;
    text-align: center;
}
.about-title {
    font-family: 'Architects Daughter', cursive;
    font-size: 32px;
    margin-bottom: 50px;
}


